@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  font-family: "Poppins";
}

main {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  min-height: 100%;
}
.panel {
  display: grid;
  grid-template-columns: 1fr;
}
.panel .text {
  background: #eeeee7;
  color: #323230;
  padding: 30px 60px;
}

/* welcome panel */
.panel.welcome {
  background: #323230;
  padding: 30px 60px;
  grid-auto-rows: 1fr;
}
.panel.welcome nav a {
  color: #a8a8a8;
  text-decoration: none;
  margin-right: 20px;
}
.panel.welcome p {
  color: #a8a8a8;
  max-width: 540px;
  line-height: 2em;
}
.panel.welcome h1 {
  color: #eeeee7;
  font-size: 3em;
}
.panel.welcome footer {
  align-self: end;
}

/* about panel */
.panel.about {
  grid-template-rows: 3fr 1fr;
  overflow: hidden;
}
.panel.about img {
  min-height: 100%;
  min-width: 100%;
}

/* photos panel */
.panel.photos {
  grid-template-rows: 1fr 3fr;
  overflow: hidden;
}
.panel.photos img {
  min-height: 100%;
  min-width: 100%;
}

@media screen and (max-width: 1400px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
  .panel.photos {
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (max-width: 960px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 500px 400px 400px;
  }
  .panel.about {
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .panel img {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  main {
    grid-template-rows: 700px 600px 600px;
  }
  .panel.about, .panel.photos {
    grid-column: span 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom: 1px solid #dcdcd0;
  }
  
  .panel img {
    width: 100%;
  }
}